:root {
    --primary: #e29578;
    --secondary: #ffddd2;
    --white: #edf6f9;
}

@font-face {
    font-family: "Callifornia";
    src: url("/fonts/Callifornia.otf");
}
@font-face {
    font-family: "Laviossa";
    src: url("/fonts/Laviossa-Medium.otf");
}

html {
    scroll-behavior: smooth;
}

.button {
    display: block;
    width: max-content;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: var(--white);
    background-color: var(--primary);
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: all;
    transition-duration: 500ms;
    text-align: center;
}
.button:hover {
    color: black;
    --tw-translate-y: -0.25rem /* -4px */;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

input,
textarea,
.input {
    width: 100%;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--secondary);
    color: black;
}

input::placeholder {
    color: var(--primary);
}

a {
    --tw-text-opacity: 1;
    color: rgb(254 249 195 / var(--tw-text-opacity));
    transition: all;
    transition-duration: 500ms;
}
nav a:hover {
    scale: 1.1;
}

#invitation b {
    --tw-text-opacity: 1;
    color: rgb(254 252 232 / var(--tw-text-opacity));
}

@keyframes slideLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideRightToLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes scaleUp {
    0% {
        scale: 0.9;
    }
    50% {
        scale: 0.9;
    }
    100% {
        scale: 1;
    }
}
@keyframes scaleUpSlideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
        scale: 0.8;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        scale: 1;
    }
}

#about {
    animation: 0.8s ease-out 0s 1 slideLeftToRight;
}
#contact {
    animation: 0.8s ease-out 0s 1 slideRightToLeft;
}
#create {
    animation: 0.8s ease-out 0s 1 scaleUpSlideUp;
}
#header .content {
    animation: 0.8s ease-out 0s 1 scaleUpSlideUp;
}

nav .nav-1 {
    padding: 8px;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    color: var(--white);
    text-align: center;
}

nav .nav-2 {
    padding: 8px;
    color: var(--white);
    text-align: center;
}

.slides {
    min-height: 100dvh;
    object-fit: cover;
}

#create form {
    background-color: rgb(226, 149, 120, 0.7);
}
